<!DOCTYPE html>
<html>
<head>
	<title>Slider Factory.hr</title>
	<meta charset="utf-8">
	<link href="css/style.css" type="text/css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
	<header>
		<div class="headerLeft"></div>
		<div class="headerRight">
			<p>Skup drugih elemenata na stranici</p>
		</div>
	</header>
	<div class="wrapper">
		<div class="info">
			<h1>Lorem ipsum dolor sit amet consectetuer adipiscing elit</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
		</div>
		<div class="images" ng-app="myApp" ng-controller="myCtrl">
			<div class="firstRow">
				<div class="onlyImages">
					<img ng-repeat="images in firstRow" ng-src="img/{{images}}">
				</div>
			</div>
			<div class="secondRow">
				<div class="onlyImages">
					<img ng-repeat="images in secondRow" ng-src="img/{{images}}">
				</div>
				<div class="buttons">
					<div class="leftButton"><img src="img/arrow-gray-left.png"></div>
					<div class="rightButton"><img src="img/arrow-gray-right.png"></div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<p>Skup drugih elemenata na stranici</p>
	</footer>
	<script type="text/javascript" src="main.js"></script>
</body>
</html>