@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
}
.wrapper{
	height: 407px;
	margin:60px 0px;
}
.info{
	float:right;
	width: 35%;
	height: 100%;
	margin-left:15px;
}
.info h1{
	margin: 0;
	padding: 3px 5px;
	color:#134880;
	font-size:3.3vw;
}
.info p{
	padding: 0px 5px;
	text-align: left;
	width: 90%;
	line-height: 26px;
}
.wrapper .images .prvired{
	margin-bottom:9px;
}
.wrapper .images .drugired,.onlyimages{
	display: flex;
	justify-content: flex-end;
	height: 200px;
}
.onlyimages img{
	margin-left: 9px;
	border-radius:5px;
	height: 100%;
	transition: all linear 1s;
}
.buttons{
	margin-left: 90px;
}
.left_button,.right_button{
	display: grid;
	justify-content: center;
	align-content: center;
	border:1px solid gray;
	border-radius:5px;
	height: 60px;
	width: 60px;
}
.right_button{
	margin-top: 9px;
}
.left_button img,.right_button img{
	margin:0px;
	width: 10px;
	height: 15px;
}
.left_button:hover,.right_button:hover{
	cursor: pointer;
	border:1px solid #134880;;
}


header,footer{
	height: 140px;
}
header{
	display: grid;
	grid-template-columns: 35% auto;
	grid-gap: 20px;
}
.headerLeft{
	background:rgb(221, 221, 221);
	border-radius:0px 0px 5px 0px;
}
.headerRight{
	background:rgb(221, 221, 221);
	border-radius:0px 0px 0px 5px;
	display: grid;
	align-content: center;
}
footer{
	background:rgb(221, 221, 221);
	height: 150px;
	border-radius:5px 5px 0px 0px;
	display: grid;
	align-content: center;
}
.headerRight p{
	margin:0;
	color:#fff;
	font-weight: bold;
	margin-left:80px;
	font-size: 20px;
}
footer p{
	margin:0;
	color:#fff;
	font-weight: bold;
	margin-left:80px;
	font-size: 20px;
}
@media screen and (max-width: 800px) {
	.info h1{
		font-size: 22px;
	}
	.info p{
		font-size:16px;
		line-height: 20px;
	}
}